/*
Author: Wanda Azhar
Location: Michigan, USA
Profession: Web Developer
Skills: HTML, CSS, JavaScript, React.js, Next.js, Node.js, Linux (Ubuntu)
Contact: wandaazhar@gmail.com
Description: A passionate web developer based in Michigan, USA, with expertise in crafting engaging and responsive web experiences. Proficient in a wide range of technologies including HTML, CSS, JavaScript, React.js, Next.js, and Node.js. Enthusiastic about optimizing user experiences and creating visually appealing websites. With a background in Linux and Ubuntu, I bring a unique perspective to my coding projects. Get in touch to collaborate on exciting web development ventures.
*/

/* === COLOR === */
$backgroundColor: #FEFCF2;
$primary: #049E99;
$pink: #FFF1F8;
$pink2: #FFE4F1;
$yellow: #FFF7D2;
$darkGreen: #ddf0ef;
$lightGreen: #E5FEFD;
$grey: #737373;
$black: #000;
$white: #FFF;

/* === BOX === */
$boxShadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$neuphorism: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
$border: .2rem solid rgba(0, 0, 0, .1);
$outline: .1rem solid rgba(0, 0, 0, .1);
$outlineHover: .2rem solid var(--primary);